.App {
    text-align: center;
    width: 100%;
    height: 100%;
}


.ant-table-header .ant-table-cell{
    color: #ab0f6a !important;
    font-weight: bold;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0px !important;
}